<!-- Sidebar Start -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="~/Modernize/src/assets/images/logos/A.jpg" width="180" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Avans işlemleri</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="~/home/index" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Anasayfa</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="~/Advance/AddAdvance" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Avans Talep</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="~/Advance/GetMyAdvances" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Gecmis Avanslarımı Listele</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="~/Advance/GetMyApprovalAdvances" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Onay Bekleyen Avanslar</span>
                    </a>
                </li>
                
            </ul>
            <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
                <div class="d-flex">
                    <div class="unlimited-access-title me-3">
                    </div>
                    <div class="unlimited-access-img">
                        <img src="~/Modernize/src/assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->