@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>İletişim <a href="https://www.linkedin.com/in/muhammetenes-ay/">Linked IN</a>.</p>
</div>
