@model AdvanceInsertDTO

<form asp-action="AddAdvance" asp-controller="Advance" method="post">
    <div class="form-group">
        <label asp-for="AdvanceAmount">Advance Amount:</label>
        <input asp-for="AdvanceAmount" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="AdvanceDescription">Advance Description:</label>
        <input asp-for="AdvanceDescription" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="ProjectID">Project ID:</label>
        <select asp-for="ProjectID" asp-items="@ViewBag.Projects" class="form-control">
            <option value="">Select Project</option>
        </select>
    </div>
    
    <div class="form-group">
        <label asp-for="DesiredDate">Desired Date:</label>
        <input asp-for="DesiredDate" type="datetime-local" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
